div::after,
.clearfix::after,
.crear::after{
  clear: both;
  visibility: hidden;
  content: "";
  display: block;
}

*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #6fa5e1;
}

.comentario{
  background-color: #fff;
  width: 700px;
  height: auto;
  margin: auto;
  margin-top: 30px;
}
